<div class="panel panel-default dnb-actions">
    <div id="actionsHeading" class="panel-heading">{{'ACTIONS_L' | translate}}</div>

    <div id="actionsBtnGroup" class="btn-group-vertical" role="group">
        <button ng-if="baseCtrl.config.features.screenshots && actionsCtrl.mode === 'guac'"
                type="submit" class="btn btn-default" ng-click="actionsCtrl.screenshot()">{{'ACTIONS_SCREENSHOT' | translate}}</button>
        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.openPrintDialog()"
                ng-show="actionsCtrl.enablePrinting">{{'ACTIONS_PRINT' | translate}}</button>
        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeMediaDialog()"
                ng-show="actionsCtrl.driveId >= 0">{{'ACTIONS_CHANGE_MEDIA' | translate}}</button>

        <button ng-if="actionsCtrl.shutdownByOs"
                type="submit" class="btn btn-default" uib-tooltip="{{'ACTIONS_SAVESESSION_HELP' | translate}}" ng-click="actionsCtrl.openSaveEnvironmentDialog()"
                ng-disabled="actionsCtrl.emulator.state != 'STOPPED'" ng-show="actionsCtrl.type"> {{'ACTIONS_SAVE_ENV' | translate}}</button>

        <button ng-if="!actionsCtrl.shutdownByOs"
                type="submit" class="btn btn-default" ng-click="actionsCtrl.openSaveEnvironmentDialog()"
                ng-show="actionsCtrl.type"> {{'ACTIONS_SAVE_ENV' | translate}}</button>

        <button type="submit" ng-hide="actionsCtrl.isKVM" ng-if="baseCtrl.config.features.snapshots"
                class="btn btn-default" ng-click="actionsCtrl.checkpoint()">{{'ACTIONS_SNAPSHOT' | translate}}</button>

        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.sendCtrlAltDel()">{{'ACTIONS_CTRLALTDEL' | translate}}</button>
        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.sendEsc()">{{'ACTIONS_ESC' | translate}}</button>
        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.restartEmulator()">{{'ACTIONS_RESTART' | translate}}</button>
        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.stopEmulator()" data-id="b-stop">{{'ACTIONS_STOP' | translate}}</button>
    </div>
</div>
