<div id="emulator-container" class="eaas-emulator-container-transcursor"></div>

<p></p>
<div id="emulator-info-container" style="margin-top: 100px"></div>
<p></p>

<div id="emulator-loading-container">
    <h4>{{'EMU_TITLE' | translate}}</h4>
    <img id="emulator-loading-spinner" height="144" width="144" src="img/gears.gif" />
</div>

<div id="emulator-stopped-container">
    <h4>{{'EMU_STOPPED' | translate}}</h4>
</div>