<div class="modal-header">
    <h3 class="modal-title">{{'CONFIRM_STOP_H' | translate}}</h3>
</div>

<div class="modal-body">
    <h4>{{'CONFIRM_STOP_T' | translate}}</h4>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close();confirmStopDialogCtrl.confirmed();" data-id="b-confirm-stop">{{'CONFIRM_STOP_OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'CONFIRM_STOP_CANCEL' | translate}}</button>
</div>