<div class="modal-header">
    <h3 class="modal-title">{{'ADDSW_TITLE' | translate}}</h3>
</div>

<div class="modal-body">
    <form id="addSwForm" name="addSoftwareDialogCtrl.addSwForm">
        <div class="form-group">
            <label>{{'ADDSW_DIALOG_LIST' | translate}}</label>
            <div style="max-width: 375px;">
                <ui-select ng-model="addSoftwareDialogCtrl.selected_sw" theme="bootstrap" title="{{'ADDSW_DIALOG_SELECT_SW' | translate}}">
                    <ui-select-match placeholder="{{'ADDSW_DIALOG_SELECT_SW' | translate}}">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="sw in addSoftwareDialogCtrl.software | filter: $select.search">
                        <span ng-bind-html="sw.label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div style="text-align: right;">
            <button type="submit" class="btn btn-default" ng-click="$close()">{{'ADDSW_DIALOG_CANCEL' | translate}}</button>
            <button type="submit" class="btn btn-primary"
                    ui-sref="admin.emulator({envId: addSoftwareDialogCtrl.envId, softwareId: addSoftwareDialogCtrl.selected_sw.id, returnToObjects: addSoftwareDialogCtrl.returnToObjects})"
                    ng-click="$close()"
                    ng-disabled="!addSoftwareDialogCtrl.addSwForm.$valid">{{'ADDSW_DIALOG_SELECT' | translate}}</button>
        </div>
    </form>
</div>
