<div class="main-container container">

    <div class="row">
        <div class="col-xs-12"><div id="header"><img height="70" src="img/logo.png" /></div></div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">{{'BASE_SHOW_MENU' | translate}}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">{{'BASE_MENU_L' | translate}}</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse" collapse="isCollapsed">
                        <ul class="nav navbar-nav">
                            <!-- <li><a ng-click="baseCtrl.open()" href="">{{'BASE_MENU_HELP'| translate}}</a></li>  -->
                            <li><a ui-sref="admin.standard-envs-overview({showObjects: false, showContainers: false})" data-ui-sref-opts="{reload: true}" href="" data-id="m-env-overview">{{'BASE_MENU_ENVS'| translate}}</a></li>

                            <li ng-if="baseCtrl.config.features.software"><a ui-sref="admin.sw-overview" href="">{{'BASE_MENU_SW'| translate}}</a></li>
                            <li ng-if="baseCtrl.config.features.objects"><a ui-sref="admin.object-overview" href="">{{'BASE_MENU_OBJECTS'| translate}}</a></li>
                            <li ng-if="baseCtrl.config.features.handle"><a ui-sref="admin.handles" href="">{{'BASE_MENU_HANDLE'| translate}}</a></li>

                            <hr/>
                            <!--<li><a ui-sref="admin.synchronize-image-archives" href="">{{'BASE_MENU_UPLOAD'| translate}}</a></li>-->
                            <li><a ui-sref="admin.import-image" href="">{{'BASE_MENU_NEW_ENV' | translate }}</a></li>
                            <li><a ui-sref="admin.create-image" href="">{{'BASE_MENU_CREATE_ENV' | translate }}</a></li>

                            <li><a ng-if="baseCtrl.config.features.containers" ui-sref="admin.new-container" href="">{{'BASE_MENU_CONTAINER' | translate }}</a></li>
                            <li><a ng-if="baseCtrl.config.features.objectUpload" ui-sref="admin.new-object" href="">{{'BASE_MENU_NEW_OBJECT' | translate }}</a></li>
                            <li><a ng-if="baseCtrl.config.features.oaipmh" ui-sref="admin.metadata">{{'BASE_MENU_MD' | translate }}</a></li>
                            <li><a ng-click="baseCtrl.showSettingsDialog()" href="">{{'BASE_MENU_SHOW_SETTINGS_DLG' | translate}}</a></li>
                            <li><a ng-if="baseCtrl.config.features.advanced" ng-click="baseCtrl.showAdvancedDialog()" href="">{{'BASE_MENU_ADVANCED' | translate}}</a></li>
                            <hr ng-if="baseCtrl.config.features.emulators"/>
                            <li><a ng-if="baseCtrl.config.features.emulators" ui-sref="admin.emulators" href="">{{'BASE_EMULATORS' | translate }}</a></li>
                            <hr/>
                            <li><a href="{{baseCtrl.config.eaasBackendURL.substring(0, baseCtrl.config.eaasBackendURL.length - 5)}}" target="_blank">{{'BASE_MENU_HELP' | translate}}</a></li>
                            <hr ng-if="baseCtrl.authEnabled"/>
                            <li ng-if="baseCtrl.authEnabled"><a href="" ng-click="baseCtrl.logout()">Logout</a> </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div ui-view="actions"></div>
        </div>

        <div class="col-sm-9">
            <div ui-view="wizard"></div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">
            <span ng-if="baseCtrl.userInfo.status == '0'">User: {{baseCtrl.userInfo.userId}} </br></span>
            Build: {{baseCtrl.buildInfo}}</br>
            UI Build: {{baseCtrl.uiCommitHash}}
        </p>
    </div>
</div>
