
<h2 class="m-t-0">{{'CHOOSE_ENV_L' | translate}}</h2>

<uib-tabset active="standardEnvsOverviewCtrl.view">
    <uib-tab index="0" ng-click="standardEnvsOverviewCtrl.updateData()" heading="{{'CHOOSE_BASEENV_L' | translate}}" data-id="t-vms">

    </uib-tab>
    <uib-tab index="1" heading="{{'CHOOSE_OBJENV_L' | translate}}" ng-click="standardEnvsOverviewCtrl.updateData()"
             ng-if="standardEnvsOverviewCtrl.config.features.objectEnvironments" >
    </uib-tab>
    <!--
    <uib-tab index="2" ng-click="standardEnvsOverviewCtrl.updateData()" heading="Containers">
    </uib-tab>
    -->
</uib-tabset>
<p></p>
<uib-tabset ng-if="standardEnvsOverviewCtrl.view === 0" active="standardEnvsOverviewCtrl.viewArchive" type="pills">
    <uib-tab index="0" heading="Private" ng-click="standardEnvsOverviewCtrl.updateData()" data-id="t-archive-private"></uib-tab>
    <uib-tab index="1" heading="Public" ng-click="standardEnvsOverviewCtrl.updateData()" data-id="t-archive-public"></uib-tab>
    <uib-tab index="2" heading="Remote" ng-click="standardEnvsOverviewCtrl.updateData()" data-id="t-archive-remote"></uib-tab>
</uib-tabset>

<div class="tekstMore"></div>
<div style="float: right;">
    <input type="text" class="form-control" ng-model="gridOptions.quickFilterText"
           placeholder="{{'CHOOSE_ENV_SEARCH' | translate}}" data-id="i-search"/>
</div>
<div style="padding: 4px;">
    <div class="ag-theme-balham"><b>Number of Environments: {{standardEnvsOverviewCtrl.initRowData().length;}}</b></div>

    <div style="top: 0; left: 0;">
        <div class="ag-theme-balham"> Page Size:
            <select ng-click="onPageSizeChanged()" ng-model="standardEnvsOverviewCtrl.pageSize">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>
    </div>
</div>

<div ng-if="standardEnvsOverviewCtrl.initRowData().length > 0" style="width: 100%;"
     ag-grid="gridOptions"
     data-id="g-envs"
     class="ag-theme-balham">
</div>
<div id="overviewDeleteButton" hidden class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="standardEnvsOverviewCtrl.deleteSelected()">
        {{'CHOOSE_DELETE_SELECTED' | translate}}
    </button>
</div>