<h2 class="m-t-0">{{'OBJECTS_L' | translate}}</h2>

<div class="form-group">

    <div id="object-grid-container">
        <table st-table="displayObjects" st-safe-src="objectOverviewCtrl.objectList">
        <thead>
        <tr>
            <th colspan="5">
                <input st-search="" class="form-control" placeholder="{{'OBJECTS_SEARCH' | translate}}" type="text"/><br>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <div ng-repeat="object in displayObjects" class="object-container">
                    <a class="cover-container" ui-sref="admin.edit-object-characterization({objectId: object.id})" >
                        <img class="cover" ng-src="{{object.thumbnail ? object.thumbnail : 'img/empty-cover.png'}}"></img>
                    </a>

                    <a class="title-container" ui-sref="admin.edit-object-characterization({objectId: object.id})" >
                        <span class="title">{{object.title}}</span>
                    </a>

                    <div class="description" ng-bind="object.description" data-ellipsis></div>
                </div>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="12" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
        </table>
    </div>
</div>